<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhostTops" connectionString="XpoProvider=Postgres;Server=localhost;User Id=postgres;Password=postgres;Database=Tops;Encoding=UNICODE;Port=5432" />
        <add name="localhost" connectionString="XpoProvider=Postgres;Server=localhost;User Id=postgres;Password=postgres;Database=;Encoding=UNICODE;Port=5432" />
        <add name="xpotest.Properties.Settings.TopsConnectionString"
            connectionString="Host=localhost;Database=Tops;Username=postgres;Password=postgres;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>